<div class="container-fluid mt-5" style="background-color:#000; color:white">
  <div class="row mb-4" style="padding: 30px 0;">

    <div class="col-md-4 col-sm-11 col-xs-11">
      <div class="footer-text pull-left" style="margin-left: 100px;">
        <div class="d-flex">
          <h1
            class="font-weight-bold mr-2 px-3"
            style="color:white; background-color:#f05123;border-radius: 20%;
    margin-right: 10px;"
          > F8</h1>
          <h4 style="color: #957bda">Học Lập Trình Để Đi Làm</h4>
        </div>
        <p class="card-text">Điện thoại: 0246.329.1102</p>
        <p> Email:contact@fullstack.edu.vn</p>
        <p>Địa chỉ: Nhà D9, lô A10, Nam Trung Yên, Trung Hòa, Cầu Giấy, Hà Nội</p>

        <div class="social mt-2 mb-3">

          <i class="fa fa-facebook-official fa-lg"></i>
          <i class="fa fa-instagram fa-lg"></i>
          <i class="fa fa-twitter fa-lg"></i>
          <i class="fa fa-linkedin-square fa-lg"></i>
          <i class="fa fa-facebook"></i>

        </div>

      </div>
    </div>

    <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>

    <div class="col-md-2 col-sm-4 col-xs-4">

      <h5 class="heading">Về F8</h5>
      <ul>
        <li>Giới thiệu</li>
        <li>Cơ hội việc làm</li>
        <li>Đối tác</li>
      </ul>

    </div>

    <div class="col-md-2 col-sm-4 col-xs-4">

      <h5 class="heading">Hỗ trợ</h5>
      <ul class="card-text">
        <li>Liên hệ</li>
        <li>Bảo mật</li>
        <li>Điều khoản</li>
      </ul>

    </div>

    <div class="col-md-2 col-sm-4 col-xs-4">

      <h5 class="heading">F8</h5>
      <ul class="card-text">
        <li>Mã số thuế</li>
        <li>Ngày thành lập</li>
        <li>Lĩnh vực</li>

      </ul>

    </div

  </div>

  <div class="divider mb-4">
  </div>

  {{! <div class="row" style="font-size:10px;">

    <div class="col-md-6 col-sm-6 col-xs-6">

      <div class="pull-left">

        <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>

      </div>

    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">

      <div class="pull-right mr-4 d-flex policy">

        <div>Terms of Use</div>
        <div>Privacy Policy</div>
        <div>Cookie Policy</div>

      </div>

    </div>

  </div> }}

</div>